.login{
    padding:56px 30px 0;
    background-color: #fff;
    .login-title{
        font-size:24px;
        font-family:PingFangSC-Semibold,PingFang SC;
        font-weight:600;
        color:rgba(0,0,0,1);
        line-height:33px;
    }
    .login-form{
        margin-top:31px;
        .login-form-item{
            display: flex;
            align-items: flex-end;
            .login-input-icon{
                width:21px;
                height: 21px;
                margin-right: 21px;
                margin-bottom: 9px;
            }
            .form-value{
                flex:1;
                position: relative;
                border-bottom: 1px solid #F2F2F2;
                padding:33px 0 9px 0;
                .value{
                    width:100%;
                    box-sizing: border-box;
                    font-size:15px;
                    line-height:21px;
                }
                .send-code{
                    position: absolute;
                    right: 0;
                    bottom: 6px;
                    width:90px;
                    height:27px;
                    border-radius:14px;
                    border:1px solid rgba(255,82,38,1);
                    font-size:12px;
                    color:rgba(255,82,38,1);
                    line-height:27px;
                    text-align: center;
                    z-index: 99;
                }
            }
        }
    }

    .login-confirm{
        margin-top:48px;
        width:100%;
        height:44px;
        background:rgba(216,216,216,1);
        border-radius:4px;
        font-size:16px;
        font-family:PingFangSC-Semibold,PingFang SC;
        font-weight:600;
        color:rgba(255,255,255,1);
        line-height:44px;
        text-align: center;
        &.active{
            background-color:rgba(255,82,38,1);
        }
    }
}