.tab-item{
    .icon{
        width:40px;
        height: 40px;
        border-radius: 50%;
        margin:0 auto;
    }
    .title{
        font-size:14px;
        font-family:PingFang-SC-Medium,PingFang-SC;
        font-weight:500;
        color:rgba(0,0,0,1);
        line-height:20px;
    }
}